# Toy example for EM clustering

In [1]:
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
dataset = [
    ['apple', 'ios', 'mac', 'book'],
    ['apple', 'mac', 'book', 'apple', 'store'],
    ['microsoft', 'ibm', 'apple', 'oracle'],
    ['microsoft', 'book', 'store'],
    ['mac', 'book', 'store'],
    ['apple', 'banana', 'mango', 'fruit'],
    ['apple', 'fruit'],
    ['banana', 'apple', 'orange', 'strawberry']
]

In [3]:
k = 3

In [4]:
rnk = []
for d in dataset:
    assignment = np.random.uniform(size=3)
    rnk.append(assignment / assignment.sum())
rnk = np.array(rnk)

In [5]:
rnk

array([[0.51655223, 0.05496759, 0.42848018],
       [0.75684038, 0.14421493, 0.09894468],
       [0.31483127, 0.41412835, 0.27104038],
       [0.25709912, 0.5651357 , 0.17776518],
       [0.38612159, 0.01269707, 0.60118134],
       [0.08142849, 0.87222906, 0.04634245],
       [0.20887369, 0.44633589, 0.34479042],
       [0.14220663, 0.28354565, 0.57424772]])

In [25]:
ak = rnk2.mean(axis=0)

In [26]:
ak

array([0.00419321, 0.00168429, 0.00108212])

In [27]:
from collections import defaultdict

In [28]:
I = defaultdict(lambda: set())
for i, d in enumerate(dataset):
    for w in d:
        I[w].add(i)
I = dict(I)

In [29]:
V = list(I.keys())

In [30]:
I

{'apple': {0, 1, 2, 5, 6, 7},
 'ios': {0},
 'mac': {0, 1, 4},
 'book': {0, 1, 3, 4},
 'store': {1, 3, 4},
 'microsoft': {2, 3},
 'ibm': {2},
 'oracle': {2},
 'banana': {5, 7},
 'mango': {5},
 'fruit': {5, 6},
 'orange': {7},
 'strawberry': {7}}

In [31]:
qmk = np.zeros((len(V), k))
for j, m in enumerate(V):
    for cluster in range(k):
        sdk = rnk2[:,cluster].sum()
        ns = 0
        for i, d in enumerate(dataset):
            if i in I[m]:
                ns += rnk2[i,cluster]
            else:
                pass
        qmk[j,cluster] = ns / sdk

In [39]:
V

['apple',
 'ios',
 'mac',
 'book',
 'store',
 'microsoft',
 'ibm',
 'oracle',
 'banana',
 'mango',
 'fruit',
 'orange',
 'strawberry']

In [38]:
round(pd.DataFrame(qmk), 5)

          0        1        2
0   0.77034  0.98242  0.76893
1   0.13443  0.00051  0.15852
2   0.95053  0.01173  0.75312
3   0.98314  0.02699  0.80204
4   0.84871  0.02648  0.64352
5   0.03325  0.02846  0.05175
6   0.00065  0.01320  0.00283
7   0.00065  0.01320  0.00283
8   0.00009  0.23845  0.02650
9   0.00005  0.23118  0.00101
10  0.01618  0.95254  0.16964
11  0.00004  0.00727  0.02549
12  0.00004  0.00727  0.02549

In [33]:
rnk2 = np.zeros((len(dataset), k))
for i, d in enumerate(dataset):
    for cluster in range(k):
        p = 1
        n_p = 1
        for z, w in enumerate(V):
            if w in d:
                p *= qmk[z,cluster]
            else:
                n_p *= 1 - qmk[z,cluster]
        rnk2[i,cluster] = ak[cluster] * p * n_p

In [34]:
A = pd.DataFrame(rnk2 / rnk2.sum(axis=0))

In [37]:
round(A, 50)

              0             1             2
0  2.087317e-02  7.683274e-09  7.352111e-02
1  7.539523e-01  4.077205e-07  7.045279e-01
2  1.733253e-12  2.385120e-07  1.388145e-08
3  4.023783e-04  1.800838e-08  3.787340e-03
4  2.247702e-01  7.296765e-09  2.117118e-01
5  7.821161e-15  8.604828e-02  1.776330e-07
6  1.972801e-06  9.139503e-01  6.451040e-03
7  1.507706e-17  7.642886e-07  5.878177e-07